<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
			<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
		{% endblock %}
	</head>
	<body>
		{% include "_navbar.html.twig" %}
		<main class="container py-5"> {% block body %}{% endblock %}
			</main>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
